:root{
    --dkBlue: #35b; 
    --mRed: #e54443;
    --lRed: #e2928f;
    --cream: #eec; 
}


body * {
    transition: 0.3s;
}

.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: var(--dkBlue);
}
