/* global*/

:root {
    --navHt    : 70px;
    --widthPage: 1100px;
    --purple   : #303F9F; 
    --indigo   : #3a5ad5; 
    --lgPurple : #C5CAE9;
    --accent   : #7C4DFF; 
    --text     : #212121;
    --mGray    : #757575; 
    --sGray    : #BDBDBD; 
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
body * {
      transition: 0.2s;
}


/* utils */

.flexcenter{
    display: flex;
    align-items:center;
    justify-content:center;
}

.page{
    margin-top: var(--navHt);
    overflow: hidden;
}

.shadow{
    -webkit-box-shadow: 3px 4px 10px 1px #000000;
    box-shadow: 0px 4px 10px 1px #000000;
}

.column-container{
    display:grid;
    grid-template-columns: 50% 50%;
}

.column-container div{
    margin: 0 auto; 
}


.oval-module{
    margin: 0 auto;
    width: var(--widthPage);
    max-width: 80%;
    padding: 50px 0;
    margin-top: 70px;
    margin-bottom: 90px;
    border-radius: 80px;
}

/* intro */


.intro-text{
    margin: 0 auto;
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 300px;
    max-width:80%;
    margin-bottom:800px;
}

.intro-text li{
    margin: 5px;
}

.intro-text h2{
    font-size: 40px;
    color: var(--indigo);
    margin-bottom: 5px;
}

.logo-b{
    margin-top: 40px;
    height: 450px;
    width: 370px;
}


/* content */

.content-container{
    background-color: var(--indigo);
    width: 100%;
    padding: 50px 0;
    color: white;
    overflow:hidden;
}

.paragraph{
    margin: 0 auto; 
    width: var(--widthPage);
    max-width: 80%;
}

.paragraph p{
    margin: 0 auto;
    width: 350px;
    margin-top: 50px;
}

/* previous */

.portfolio{
    margin: 0 auto;
    margin-top: 50px;
    width: var(--widthPage);
    max-width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio h2{
    color: var(--purple);
}

.pagecard{
    flex-direction: column;
    width: 450px; 
}

/* Contact */

.form-cont{
    flex-direction: column;
    background-color: var(--indigo);
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.input-field{
    margin: 20px;
    width: 400px;
    max-width: 80%;
    height: 30px;
    text-align: center;
    color: var(--purple);
    border: 3px solid white;
    border-radius: 5px;
}

.textarea{
    height: 120px;
}

.button-form{
    margin-top: 50px;
    height: 40px;
    width: 100px;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    background-color: var(--indigo);
}

.button-form:hover{
    color: var( --purple);
    background-color: white;
}

/* nav */



.navbar{
    position: fixed;
    top: 0;
    height: var(--navHt);
    width: 100%;
    background-color: var(--purple);
    color: white;
    display: grid;
    align-items:center;
    grid-template-columns: 50% 50%;
    z-index: 4;
}

.navbar img{
    margin-left: 5px;
    height: 90%;
    width: 60px;
}

.item-container{
    display: flex;
    align-items:center;
    flex-direction: row-reverse;
}
.item-container p{
    border-radius: 5px;
    height:40px;
    width: 100px;
    margin: 0 18px 0 0;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .column-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column-container div,p{
        margin-top: 30px;
    }

}
