/* global*/

:root {
    --navHt    : 65px;
    --widthPage: 1100px;
    --purple   : #303F9F; 
    --red      : #be3434;
    --indigo   : #3a5ad5; 
    --lgPurple : #C5CAE9;
    --accent   : #7C4DFF; 
    --text     : #212121;
    --mGray    : #757575; 
    --sGray    : #BDBDBD; 
    /* new colors material ui */
    --primary10: #002117;
    --primary20: #00382A;
    --primary30: #00513E;
    --primary40: #006B54;
    --primary50: #00876A;
    --primary60: #17A382;
    --primary70: #42BF9B;
    --primary80: #62DBB6;
    --primary90: #80F8D1;
    --primary95: #BAFFE5;
}
@font-face {
    font-family: "Emberly";
    src: local("Emberly"),
    url("./fonts/Emberly/Emberly-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Wild-World";
    src: local("Wild-World"),
    url("./fonts/wild-world.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 300;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
body * {
      transition: 0.2s;
}


/* utils */

.flexcenter{
    display: flex;
    align-items:center;
    justify-content:center;
}

.home_section {
    width: 100vw; 
    height: calc(100vh - var(--navHt));
    display: flex;
    align-items: center;
    justify-content: center;
}

.page{
    margin-top: var(--navHt);
    overflow: hidden;
    position: relative;
    background-color: #f000;
    right: 0px;
    animation-name: moving;
    animation-duration: 0.6s;
}

.shadow{
    -webkit-box-shadow: 0px 4px 15px 1px #00000048;
    box-shadow: 0px 4px 15px 1px #00000048;
}


.column-container{
    display:grid;
    grid-template-columns: 50% 50%;
}

.column-container div{
    margin: 0 auto; 
}

.footer{
    background-color: var(--indigo);
    color: white;
    flex-direction: column;
    padding: 20px;
} 

.footer img{
    width: 30px;
}

.footer a{
    display: flex;
    justify-content: space-around;
    width: 200px;
    text-decoration: none;
    color: white;
    margin: 10px;
    align-items: center;
}


.oval-module{
    width: var(--widthPage);
    max-width: 80%;
    padding: 50px 0;
    margin-top: 70px;
    margin-bottom: 90px;
    border-radius: 80px;
}

/* intro */


.intro-text{
    margin: 0 auto;
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 300px;
    max-width:80%;
    margin-bottom:800px;
}

.intro-text li{
    margin: 5px;
}

.intro-text h2{
    font-size: 40px;
    color: var(--indigo);
    margin-bottom: 5px;
}

.logo-b{
    margin-top: 40px;
    height: 450px;
    width: 370px;
}


/* content */

.content-container{
    background-color: var(--indigo);
    width: 100%;
    padding: 50px 0;
    color: white;
    overflow:hidden;
}

.paragraph{
    margin: 0 auto; 
    width: var(--widthPage);
    max-width: 80%;
    margin-top: 80px;
}

.paragraph p{
    margin: 0 auto;
    width: 350px;
    margin-top: 50px;
}

.paragraph img{
    width: 400px;
}

/* previous */

.portfolio{
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 120px;
    height: calc(100vh - var(--navHt));
    width: var(--widthPage);
    max-width: 80%;
    justify-content: space-around;
    flex-direction: column;
}

.portfolio h2{
    color: var(--purple);
    margin-bottom: 80px;
}

.pagecard{
    flex-direction: column;
    width: 300px; 
    padding-bottom: 35px;
    color: var(--text);
    border: 1px solid var(--indigo);
    border-radius:5px;
    -webkit-box-shadow: 12px 9px 0px 1px var(--purple);
    box-shadow: 12px 9px 0px 1px var(--purple);
}

.pagecard img{
    width: 200px;
    height:200px;
}
.pagecard h3 {
    margin:40px;
}

.pagecard:hover{
    transform: scale(1.05);
    color: white;
    background-color: var(--indigo);
}

.project{
    position: fixed;
    top: var(--navHt);
    right: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
    color: white;
    background-color: var(--purple);
    overflow-y: scroll;
}

.head{
    justify-content: center;
    max-width: 85%;
}
.head a{
    color: white;
    text-decoration: none;
}
.hidden-pr{
    right: 100%;
}

.project-content{
    width: 600px;
    display:flex;
    flex-direction:column;
    max-width: 90%;
}
.project p, ul{
    align-self: center;
    width: 500px;
    max-width: 70%;
}

.project img{
    align-self: center;
    margin-top: 20px;
    width: 600px;
    margin-bottom: 80px;
    max-width: 90%;
}

.wrapper-exit{
    top: 80px;
    right: 40px;
    position: fixed;
}

.wrapper-exit-hd{
    top: 80px;
    right: 100%;
    position: fixed;
}

.wrapper-exit img:hover{
    transform: rotate(720deg);
    transition: 2s;
}
.wrapper-exit img{
    height: 40px;
    width: 40px;
}

.wrapper-exit-hd img{
    height: 40px;
    width: 40px;
}

/* Contact */

.form-cont{
    margin: 0 auto;
    flex-direction: column;
    background-color: var(--indigo);
    color: white;
    margin-top: 40px;
    margin-bottom: 80px;
}

.input-field{
    margin: 20px;
    width: 400px;
    max-width: 80%;
    height: 30px;
    text-align: center;
    color: var(--purple);
    border: 3px solid white;
    border-radius: 5px;
}

.textarea{
    height: 120px;
}

.button-form{
    margin-top: 50px;
    height: 40px;
    width: 100px;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    background-color: var(--indigo);
}

.button-form:hover{
    color: var( --purple);
    background-color: white;
}

/* nav */



.navbar{
    position: fixed;
    top: 0px;
    height: calc(var(--navHt) + 10px);
    width: 100%;
    background-color: #222;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    z-index: 4;
}
.item-mobile-menu {
    background-color: #fff0;
    color: #fff;
    border: 0px;
    font-size: 30px;
}
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
    /*
     background-color: #222; 
     */
.nav-img {
    height: 45px;
    width: auto;
    margin-left: 30px;
}
.nav-menu {
    height: 30px;
    width: auto;
    right: 30px;
    position: absolute;
}

.nv-top {
    background-color: #fff;
}

.item-container{
    display: flex;
    align-items:center;
    flex-direction: row-reverse;
    margin-right: 10px;
    transition: 0s;
}
.item-nav {
    height: 40px;
    margin: 0 18px 0 0;
    display:flex;
    align-items: center;
    border: none;
    font-size: 16px;
    justify-content: center;
    color: var(--primary30);
    background-color: #0000;
    font-family: 'Roboto';
    border-color: var(--indigo);
    border-radius: 10px;
}
 
.item-nav:hover {
    color: var(--primary50);
    transition: 0.5s;
}

.item-w {
    color: #fff;
    border-color: #fff;
}

.item-w:hover {
    color: var(--primary90);
    transition: 0.5s;
}
/* intro carousel */

.image-slider {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.image-container {
    transition: 0.6s ease-in-out;
}
.img-full {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(50%);
}

.image-slider_dots_cont {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image-slider_dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff0;
}

.active_dot {
    background-color: #fff;
    border: 2px solid #000;
    outline: 2px solid #fff;

}

@keyframes moving {
  0%   {right: -100%;}
  100% {right: 0px;}
}

@media only screen and (max-width: 1000px) {
    .column-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column-container div,p, img{
        margin-top: 30px;
    }
    .paragraph{
        margin-top: 20px;
    }
    .column-container img, .pagecard img{
        width: 90%;
        height: auto;
    }

    .paragraph p{
        max-width: 90%;
    }
    .pagecard{
        max-width: 90%;
    }
}
